@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg') format('svg'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.eot') format('eot');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.header {
    padding: 40px;
    border-bottom: 1px solid #404552;
    margin-bottom: 20px;
}

body {
    overflow-x: hidden;
    margin: 0 auto;
}

.icon-bar {
    margin: 10px;
}

.icon-bar i {
    font-size:17px;
    color:#7D838C
}

.top-sec {
    background-image: url('../images/hero-bg2.jpg');
    height: 800px;
    background-size: cover;
    position: relative;
    color: #ffffff;
}

.top-sec::before{
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(52,58,69, 0.8);
}

.btn-opacity {
    background-color: transparent;
}

.block-one {
    background-color: #F4F7F8;
    padding-top: 40px;
    padding-bottom: 40px;
}

.block-one img {
    margin-left: -30%;
    width: 130%;
}

.block-two img {
    margin-right: -30%;
    width: 122%;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right:0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 10px 20px 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #293342;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
    background-color: #444 ;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;
    color: black;
    background-color: transparent;
    border: none;
  }

  .close-icon i:hover {
    border: 1 px solid #000000;
  }

  .openbtn {
      background-color: transparent;
      border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  .banner {
    margin-top: 80px;
  }

  .banner h2 {
    font-size: 40px;
    line-height: 1.5;
  }
  
  hr {
      width:12%;
      text-align:left;
      margin-left:0;
      background-color: #17A2B8;
      height:2px;
      border: none;
  }

  .banner p {
      font-size: 18px;
      line-height: 1.7;
      margin-bottom: 30px;
  }

  .client-row {
      margin-top: 30px;
      margin-bottom: 30px;
  }

  .col-number {
      border-right: 1px solid lightgrey;
  }

  .text-download {
      font-size: 20px;
  }

  .col-inner {
      position: relative;
  }

  .col-inner p {
      padding: 10px 0;
      font-size: 13px;
  }

  .block-one p {
      line-height: 1.5;
  }

  .download::before {
    position: absolute;
    content: "\f0ed";
    top: -20px;
    left: 10px; 
    color: #DFE2E4; 
    font-size: 70px;
    font-family: 'FontAwesome';
  }

  .customise::before {
    position: absolute;
    content: "\f08a";
    top: -20px;
    left: 10px; 
    color: #DFE2E4; 
    font-size: 70px;
    font-family: 'FontAwesome';
  }

  .deploy::before {
    position: absolute;
    content: "\f13d";
    top: -20px;
    left: 10px; 
    color: #DFE2E4; 
    font-size: 70px;
    font-family: 'FontAwesome';
  }

  .success::before {
    position: absolute;
    content: "\f201";
    top: -20px;
    left: 10px; 
    color: #DFE2E4; 
    font-size: 70px;
    font-family: 'FontAwesome';
  }

  .block-two {
    margin-bottom: 70px;
    margin-top: 70px;
}

  .block-two p {
      line-height: 1.5;
      font-size: 13px;
  }

  .block-two-list {
      border-bottom: 1px solid #DFE2E4;
      padding: 10px 0;
  }

  .block-three {
      background-color: #273140;
      padding: 60px 80px 60px 80px;
  }

  .block-three h2 {
      line-height: 1.5;
      color: #ffffff;
  }

  .block-three .list-three {
      color: #ffffff;
  }

  .block-three p {
      color: #A0A5AB;
      line-height: 1.5;
      padding-bottom: 15px;
  }

  .block-three hr {
    width:20%;
    text-align:left;
    margin-left:0;
    background-color: #ffffff;
    height:2px;
    border: none;
  }

  .col-one::before {
    position: absolute;
    content: "\f072";
    top: -17px;
    left: 10px; 
    color: #142138; 
    font-size: 65px;
    font-family: 'FontAwesome';
  }
 
  .col-two::before {
    position: absolute;
    content: "\f534";
    top: -17px;
    left: 10px; 
    color: #142138; 
    font-size: 65px;
    font-family: 'FontAwesome';
  }

  .col-three::before {
    position: absolute;
    content: "\f109";
    top: -17px;
    left: 10px; 
    color: #142138; 
    font-size: 65px;
    font-family: 'FontAwesome';
  }

  .col-four::before {
    position: absolute;
    content: "\f219";
    top: -17px;
    left: 10px; 
    color: #142138; 
    font-size: 65px;
    font-family: 'FontAwesome';
  }

  .col-five::before {
    position: absolute;
    content: "\f040";
    top: -17px;
    left: 10px; 
    color: #142138; 
    font-size: 65px;
    font-family: 'FontAwesome';
  }

  .col-six::before {
    position: absolute;
    content: "\f121";
    top: -17px;
    left: 10px; 
    color: #142138; 
    font-size: 65px;
    font-family: 'FontAwesome';
  }

  .block-four {
      background-color: #F4F7F8;
      padding-top: 50px;
      padding-bottom: 50px;
  }

  .block-four h5 {
    line-height: 1.5;
  }

  .block-four hr {
      margin-left: 46%;
      width: 6%;
  }

  .block-four p {
      font-size: 13px;
  }

  .block-four h5 {
      margin-top: 0;
      margin-bottom: 0;
  }

  .testimonial-block {
      padding: 30px;
  }

  .testimonial-block img {
      border-radius: 50%;
  }

  .row-one {
      margin-bottom: 20px;
  }

  .testimonial {
      color: #979DA4;
      font-size: 15px;
      line-height: 1.5;
      padding: 0;
  }

  .test-one,
  .test-two {
      border-right: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;
  }

  .test-three {
    border-bottom: 1px solid lightgrey;
  }

  .test-four,
  .test-five {
      border-right: 1px solid lightgrey;;
  }

  .block-five {
      background-image: url('../images/hero-bg1.jpg');
      height: 500px;
      background-size: cover;
      position: relative;
      color: #ffffff;
      padding-top: 50px;
  }

  .block-five::before {
    content:" ";
    display:block;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(49,129,238, 0.6)
  }

  .container-block-five {
      color: #ffffff;
      position: relative;
  }

  .block-five hr {
      margin-left: 45%;
      background-color: #ffffff;
      width: 8%;
  }

  .block-five h4 {
      line-height: 1.5;
  }

  .block-five button {
      height: 43px;
      font-size: 12px;
      font-weight: bold;
      border-radius: 0;
  }

  .footer {
      background-color: #273140;
      padding-top: 60px;
      color: #ffffff;
  }

  .footer .container {
    padding-bottom: 100px;
      border-bottom: 0.2px solid #000000;
  }

  .footer-text {
      font-size: 13px;
      width: 70%;
      line-height: 1.5;
  }

  .text-two {
      right: 10%;
  }

  .input-email {
      height: 35px;
  }

  input[type=email]::placeholder {
      font-size: 12px;
  }

  .footer-btn {
      border-radius: 0;
  }

  .icon {
      width: 30%;
  }

  .icon-bar-one {
      padding-bottom: 15px;
  }

  .footer hr {
      background-color: #ffffff;
      width: 40%;
      height: 1px;
  }

  .footer .copyright {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 12px;
  }

  .copyright .sec-two {
      border-bottom: 1px dotted #ffffff;
      border-left: 1px solid #ffffff;
      border-right: 1px solid #ffffff;
      padding: 0 3px 0 3px;
  }

/*****************MEDIA QUERIES******************/

@media (max-width: 1300px) {
    .block-one img {
        margin-left: 0;
        width: 100%;
    }

    .block-two img {
        margin-right: 0;
        width: 100%;
    }

    .block-five {
        height: auto;
        padding-bottom: 50px
    }
}

@media (max-width: 1000px) {
    .testimonial-block {
        border: none;
    }

    .text-two {
        right: 0;
        padding-bottom: 20px;
    }

    .icon {
        padding: 0 45px;
    }

    .footer .container {
        padding-bottom: 50px;
    }
}